@media (max-width: 1250px)
{
	#ProjectIndex{
		display: none;
	}
	.projects-section {
	  padding-top: 10rem!important;
	}
}

@media (min-width: 1250px)
{
	#mainNav {
		display: none!important;
	}

	.projects-section {
		padding-top: 2rem!important;
	}
}