@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

.navbar-white {
    background-color: white!important;
    color: black;
}

.navbar-toggler {
    border: 1px solid black!important;
}

.fa-robot:hover {
    color: #5B86E5;
}

.navbar {
    border-bottom: 5px solid black;
}

.nav-item > a {
    color: black!important;
}

.nav-item > a:hover {
    color: grey!important;
}

.navbar-white > a {
    color: black!important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif!important;
}

.header > h1, h3 {
    font-weight: 700!important;
}

.header-text {
    font-size: 3em;
    /* background: #43cea2; /* fallback for old browsers
    background: -webkit-linear-gradient(to right, #43cea2, #185a9d); /* Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #43cea2, #185a9d); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+

    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0); */
}

.header-subtext {
    color: #73d9e9;
}

.header-subtext-2 {
    color: #68bfee;
}

.profile-img {
    border: 10px solid black;
}
