<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
{% include head.html %}
<body class="h-100 w-100">
    {% include navbar.html %}
    <div class="container h-75 py-5">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 float-right">
                <img src="../assets/img/profile.jpg" class="img-fluid rounded-circle profile-img"/>
            </div>
            <div class="col-12 col-md-6 order-md-first header">
                <h1 class="header-text d-inline-block">Hi! I'm Jaidev</h1>
                <h3 class="header-subtext">Junior at IIIT-Hyderabad</h3>
                <h3 class="header-subtext-2">Researcher at Robotics Research Center</h3>
                <p class="pr-md-5 mr-md-5 py-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>
    </div>
    {{ content }}
</body>
</html>