<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
{% include head.html %}
<body class="h-100 w-100">
    {% include navbar.html %}
    <div class="container h-75 py-5">
        <div class="row h-100 align-items-center">
            <div class="col">
                <h1 class="header-text font-weight-bold">Jaidev Shriram</h1>
                <h3 class="header-subtext">Undergrad Researcher</h3>
                <h3 class="header-subtext">Robotics Research Center</h3>
            </div>
        </div>
    </div>
    {{ content }}
</body>
</html>